html,
body {
	font-family: "Roboto",serif;
}

h1 {
	text-shadow:  5px 5px 10px #02b3e4;
}
/*img scale: */
img {
	width: 100%;  
	height: auto;
}

img:hover {
	opacity: .5;
	-webkit-transition: all .9s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
}

.top {
	width: 100%;
	border: 2px solid;
	box-shadow: 5px 10px #02b3e4;
	border-radius: 15px;
	padding: 5px;
	background-color: white;
	display: flex;
	align-self: center;
	flex-wrap: wrap; /* same length, regardless of its content*/
}

* {
	box-sizing: border-box; /*markup correctly*/
}

.logo {
	width: 10%;
}

.top-right {
	font-style: oblique;
	text-align: right;
	text-shadow:  5px 5px 10px #02b3e4;
	width: 70%;
	height: auto;

}

.light-white {
	padding-top: 20px;
	min-height: 150px;
	justify-content: center;
	font: 25px "Roboto", serif;
	width: 100%;
	color: black;
	padding-left: 1em;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #02b3e4;
	color: white;
	text-align: center; 
}

.main {
	justify-content: center;
}

.social-media a {
	margin-right: 30px;
}

.social-media a:hover {
	
	text-align: center;
	background-color: white;
	color: black;
}

.flex-container {
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.first {
	width: 200px;
	height: 270px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.project h3 {
	margin-top: 15px;
	width: 100%;
	height: auto;
	text-align: center;
	font-style: italic;
}
